.RomanistHere__wrapper {
    position: relative;
    display: inline-block;

    width: 20px;
    height: 10px;
    margin: 0 10px;
}

.RomanistHere__icon {
    display: inline-block;
    position: absolute;

    width: 15px;
    height: 15px;
    left: 0;
    top: 60%;
    transform: translateY(-50%);

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    border: 2px solid #0a66c2;
    border-radius: 50%;
    border-radius: 4px;
}

.RomanistHere__icon-filled {
    background-color: #0a66c2;
}

.RomanistHere__icon-marked {
    border-width: 4px;
}

.RomanistHere__wrap {
    position: absolute;
    display: none;
    z-index: 1000000000000000000;

    top: 0;
    left: 10px;
    width: 200px;
    height: 150px;

    background-color: #fff;

    border: 2px solid;
    border-radius: 10px;
}

.RomanistHere__icon:hover + .RomanistHere__wrap,
.RomanistHere__wrap:hover,
.RomanistHere__wrap-show {
    display: block;
}

.RomanistHere__form {
    position: relative;

    height: 100%;
}

.RomanistHere__textarea {
    position: absolute;
    z-index: 1000008;

    left: 5px;
    top: 5px;
    width: calc(100% - 10px);
    bottom: 30px;

    background-color: #fff;
}

.RomanistHere__link {
    position: absolute;

    bottom: 0;
    left: 0;
    padding: 4px 10px;

    text-decoration: none;
    font-size: 16px;
}

.RomanistHere__link:hover {
    text-decoration: none;
}

.RomanistHere__link-middle {
    left: 70px;
}

.RomanistHere__link-right {
    left: auto;
    right: 0;
}

.RomanistHere__link_close {
    z-index: 1000000000;

    bottom: auto;
    top: 5px;
    right: 5px;
    left: auto;
    padding: 0 5px;
}

.RomanistHere__link-dis {
    display: none;
}


.entity-result__title-line {
    overflow: visible !important;
}