html,
body {
    --main-col: #1b283b;
    --sec-bg-col: #dadee0;
    --bg-col: #fff;
    --new-col: #0a66c2;
    --cross-col: #ca2424;

    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    background-color: var(--sec-bg-col);

    font-size: 20px;
}

body {
    padding: 0 40px;
}

.section {
    margin-bottom: 40px;
}

.section-expand .section__block {
    height: 0;
    overflow: hidden;
}

.marked {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.title {
    margin: 20px 0 30px;

    font-size: 50px;
    color: var(--main-col);
}

.title__capt {
    font-size: 20px;
    color: var(--new-col);
}

.link {
    color: var(--new-col);

    transition: all ease .3s;
}

.marked__link {
    position: relative;
    display: block;

    padding: 10px 20px;
    margin: 0 10px 10px 0;
    border: 4px solid var(--main-col);
    border-radius: 4px;

    box-shadow: 5px 5px 10px 0 rgba(0,0,0,.75);
    background-color: var(--bg-col);

    font-size: 24px;
    color: var(--main-col);
    text-decoration: none;

    animation: appear .7s ease;
}

.link:hover {
    color: var(--new-col);
}

.remove {
    position: absolute;

    top: 0;
    right: 6px;

    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: var(--cross-col);
}

.table {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    justify-content: space-between;
}

.table__string {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    margin-bottom: 10px;
    width: 49%;
    padding: 20px;
    border: 4px solid var(--main-col);
    border-radius: 4px;

    box-shadow: 5px 5px 10px 0 rgba(0,0,0,.75);
    background-color: var(--bg-col);

    animation: appear .7s ease;
}

.table__left {
    width: 100%;
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 24px;
}

.popup {
    display: none;
    position: fixed;

    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 10px solid var(--main-col);
    border-radius: 10px;

    background-color: var(--bg-col);
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,.75);

    animation: appear 1s ease;

    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    font-size: 30px;
}

.popup-show {
    display: flex;
}

.popup__pick {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    justify-content: space-around;

    width: 100%;
}

@keyframes appear {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
