html,
body {
    --main-col: #1b283b;
    --sec-bg-col: #d2f4ff;
    --bg-col: #fff;
    --new-col: #0b66c2;
    --cross-col: #ca2424;

    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    background-color: var(--sec-bg-col);

    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.59;
}

body {
    padding: 0 40px 40px;
}

.saved {
    position: fixed;
    display: none;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;

    width: 120px;
    height: 40px;
    top: 15%;
    right: 20px;
    border-radius: 5px;

    color: var(--new-col);
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    text-shadow:
        -1px 0 black,
        0 1px black,
        1px 0 black,
        0 -1px black;

    animation: appearing 2s ease;
    opacity: 0;
}

.saved-show {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

@keyframes appearing {
    0%, 100% { opacity: 0; }
    30%, 70% { opacity: 1; }
}

.section {
    margin-bottom: 40px;
}

.section-expand .section__block {
    height: 0;
    overflow: hidden;
}

.marked {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.title {
    margin: 20px 0 30px;

    font-size: 50px;
    color: var(--main-col);
}

.title__capt {
    font-size: 20px;
    color: var(--new-col);
}

.link {
    color: var(--new-col);

    transition: all ease .3s;
}

.marked__link {
    position: relative;
    display: block;

    padding: 12px 24px;
    margin: 0 10px 10px 0;
    border: 4px solid var(--main-col);
    border-radius: 4px;

    box-shadow: 5px 5px 10px 0 rgba(0,0,0,.75);
    background-color: var(--bg-col);

    font-size: 24px;
    color: var(--main-col);
    text-decoration: none;

    animation: appear .7s ease;
}

.link:hover {
    color: var(--new-col);
}

.remove,
.section__info-close {
    position: absolute;

    top: -2px;
    right: 0px;
    padding: 2px 5px;

    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: var(--cross-col);

    opacity: 0;
    transition: all ease .1s;
}

.table .remove {
    top: 2px;
}

.marked__link:hover .remove,
.marked__link:hover .moveToSaved,
.table__string:hover .remove,
.table__string:hover .expand {
    opacity: 1;
}

.expand {
    position: absolute;

    top: 2px;
    right: 30px;
    padding: 2px 5px;

    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: var(--new-col);

    opacity: 0;
    transition: all ease .1s;
}

.update,
.save {
    position: absolute;
    display: none;

    left: 20px;
    bottom: 20px;

    color: var(--main-col);
    text-decoration: none;
    font-weight: bold;

    animation: appear .3s ease;
}

.moveToSaved {
    position: absolute;

    bottom: -5px;
    right: -2px;
    padding: 2px 5px;

    color: var(--new-col);
    font-weight: bold;

    opacity: 0;
    transition: all ease .1s;
}

.update-show {
    display: block;
}

.table {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    justify-content: space-between;
}

.table__string {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    margin-bottom: 10px;
    width: 49%;
    padding: 30px 20px 20px;
    border: 4px solid var(--main-col);
    border-radius: 4px;

    box-shadow: 5px 5px 10px 0 rgba(0,0,0,.75);
    background-color: var(--bg-col);

    animation: appear .7s ease;
}

.table__left {
    width: 230px;
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 24px;
}

.table__right {
    width: calc(100% - 230px);
    height: 100px;
    padding: 4px 10px;

    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.popup {
    display: none;
    position: fixed;

    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 10px solid var(--main-col);
    border-radius: 10px;

    background-color: var(--bg-col);
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,.75);

    animation: appear 1s ease;

    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    font-size: 30px;
}

.popup-show {
    display: flex;
}

.popup__pick {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    justify-content: space-around;

    width: 100%;
}

.search__input {
    width: 450px;
    padding: 10px;

    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid black;

    font-size: 30px;
}

@keyframes appear {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.expanded {
    position: fixed;
    display: none;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: var(--sec-bg-col);
}

.expanded-show {
    display: block;
}

.expanded__top {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    height: 10%;

    justify-content: center;
    -ms-align-items: center;
    align-items: center;

    font-size: 30px;
}

.expanded__left {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    width: 20%;

    font-size: 32px;
}

.expanded__btns {
    position: absolute;

    bottom: 30px;
    width: 100%;

    text-align: center;
    font-size: 20px;
}

.expanded__btn {
    padding: 5px 10px;
    border-radius: 10px;

    background-color: var(--new-col);
    transition: all ease .3s;

    text-decoration: none;
    color: var(--bg-col);
}

.expanded__save {
    font-weight: bold;
}

.expanded__remove {
    background-color: transparent;
    color: var(--new-col);
}

.expanded__btn:hover {
    opacity: 0.8;
}

.expanded__right {
    width: 80%;
    padding: 20px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.expanded__locked {
    height: 100%;

    overflow: auto;
    background-color: var(--bg-col);
    opacity: 0.8;

    font-size: 21px;
}

.expanded__col {
    display: block;

    color: #007524;
}

.expanded__col_1 {
    color: gold;
}

.expanded__col_2 {
    color: pink;
}

.expanded__col_3 {
    color: black
}

.expanded__block {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    backdrop-filter: blur(2px);

    font-size: 30px;
}

.expanded__why {
    color: var(--new-col);

    transition: all ease .3s;
}

.section__info-close {
    opacity: 1;
    cursor: pointer;
}

.expanded__why:hover {
    color: #000;
}

.expanded__wrap {
    height: 90%;
}

.expanded__sect {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    width: 100%;
    height: 33.3%;
    border: 2px solid #000;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.expanded__close {
    position: fixed;
    width: 48px;
    height: 42px;
    right: 40px;
    top: 5%;
    transform: translateY(-50%)
}

.outer {
    position: relative;
    margin: auto;
    width: inherit;
    cursor: pointer;
    height: 100%
}

.inner {
    width: inherit;
    text-align: center;
    height: 100%
}

.close_label {
    font-size: .8em;
    line-height: 2.7em;
    text-transform: uppercase;
    color: var(--new-col);
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer
}

.inner:after,
.inner:before {
    position: absolute;
    content: '';
    height: 3px;
    width: inherit;
    background: var(--cross-col);
    left: 0;
    top: 50%;
    transition: all .3s ease-in
}

.inner:before {
    transform: translate(0, -50%) rotate(45deg)
}

.inner:after {
    transform: translate(0, -50%) rotate(-45deg)
}

.outer:hover .close_label {
    opacity: 1
}

.outer:hover .inner:after,
.outer:hover .inner:before {
    transform: rotate(0)
}

.outer:hover .inner:before {
    top: 0
}

.outer:hover .inner:after {
    top: 100%
}

.section__info-show {
    position: fixed;
    z-index: 10;

    bottom: 20px;
    left: 20px;
    right: 20px;
}

.section__info {
    display: none;
}

.section__info-display {
    display: block;
}
